body {
    font-family: 'VT323', monospace;
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 4em;
    color: #eaeaea;
    letter-spacing: 0.1em;
}


table {
    /*border-spacing: 0px;*/
    table-layout: fixed;
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    font-weight: bold;
    margin: 0 auto;
    font-size: 2em;
}

tr {
    table-layout: fixed;
}

td {
    table-layout: fixed;
    height: 50px;
    max-height: 50px;
    width: 50px;
    max-width: 50px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #808080;

    overflow: hidden;
}

/* All table cells that are hovered over and do not have a mine or clicked class*/
td:hover:not(.mine):not(.clicked) {
    background-color: #969696;
}

.mine {
    transition: background-color 3s;
    background-color: #ce1d1d;
}

img {
    width: 1em;
    height: 1em;
}

.clicked {
    background-color: #eaeaea;
}

.count1 {
    color: #215B5B;
}

.count2 {
    color: #1ec71e;
}

.count3 {
    color: #986337;
}

.count4 {
    color: #983737;
}

.count5 {
    color: ;
}

.count6 {
    color: ;
}

.count7 {
    color: ;
}

.count8 {
    color: ;
}
